.navbar {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 55px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    /* Provided background style */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* Fallback background style */
    color: #000000;
    display: flex;
    align-items: center;
    text-align: left;
    font: normal normal normal 20px/28px 'Segoe UI';
    letter-spacing: 0px;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

.navbar div:hover {
    color: #ff3333;
    transition: color 0.3s ease;
}

#navbar-white-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 1 !important;
    /* Menü önce gelmeli */
    align-items: center;
    text-align: center;
    font: normal normal normal 20px/28px 'Segoe UI';
    color: #000000;
    letter-spacing: 0px;
    display: flex;
    flex-direction: column;
}

#navbar-white-bar div {
    width: fixed;
    height: fixed;
    margin-top: 15px;
    margin-bottom: 5px;
    cursor: pointer;
}


#navbar-white-bar div:hover {
    color: #ff3333;
    transition: color 0.3s ease;
}


#navbar-white-bar-avatar {
    position: fixed;
    top: 0;
    right: 0 !important;
    width: 250px;
    height: 350px;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px #00000029;
    z-index: 1 !important;
    /* Menü önce gelmeli */
    align-items: center;
    text-align: center;
    font: normal normal normal 20px/28px 'Segoe UI';
    color: #000000;
    letter-spacing: 0px;
    display: flex;
    flex-direction: column;
}

#navbar-white-bar-avatar div {
    width: fixed;
    height: fixed;
    margin-top: 10px;


}



#navbar-avatar-buttons {
    width: 100%;
    align-items: center;
    text-align: center;
    display: flex;

    cursor: default !important;
    margin-top: auto !important;
    /* Üst boşluk */
    margin-bottom: 0 !important;
    /* Alt boşluk */
}

#navbar-avatar-buttons div {
    width: fixed;
    height: fixed;
    margin-top: 10px;
    cursor: pointer;
}

.navbar-button {
    width: 40%;
    background: #aec2ff;
    /* Arkaplan rengi */
    box-shadow: 0px 3px 6px #00000029;
    /* Gölge efekti */
    border-radius: 39px;
    /* Kenar yuvarlaklığı */
    opacity: 1;
    /* Opaklık */
    cursor: pointer;
    transition: color 0.2s ease;

}

.navbar-button:hover {
    box-shadow: inset 0px 3px 6px #00000029;
    color:#000000 !important;
    /* :hover durumunda outer (dış) gölge efekti */
}

#navbar-logout {
    margin-top: auto !important;
    /* Üst boşluk */
    margin-bottom: 20px !important;
    /* Alt boşluk */
    margin-left: 20px;
    margin-right: 10px;
    background: #fd9898 !important;
}

#navbar-return {
    margin-top: auto !important;
    /* Üst boşluk */
    margin-bottom: 20px !important;
    /* Alt boşluk */
}

#navbar-black-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0 !important;
    cursor: pointer;

}

.navbar-bold-font {
    font: normal normal bold 20px/28px 'Segoe UI';

}

.navbar-bold-font:hover {
    color: #ff3333;
    transition: color 0.3s ease;

}

#navbar-right-align {
    display: flex;
    margin-left: auto !important;
    margin-right: 20px !important;
    cursor: default !important;
    align-items: center;
    font: normal normal normal 20px/28px 'Segoe UI';
    color: #000000;
    letter-spacing: 0px;
    
}

#navbar-right-align div:hover {
    color: #ff3333;    
    transition: color 0.3s ease;

}

.navbar-question-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.navbar-question-icon:hover {
    box-shadow: 0px 3px 6px #ff3333;
}

.navbar-menu-icon {
    margin-left: 20px !important;
}

.navbar-menu-icon:hover {
    transition: color 0.3s ease;
    color: #ff3333;    
}

.navbar-avatar-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #F8F8F8 0% 0% no-repeat padding-box;
    background-size: cover;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: inset 0px 3px 6px #00000029;
    border: 1px solid #e1e1e1;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}


.navbar-avatar-icon:hover {
    box-shadow: 0px 3px 6px #ff3333;
}


.navbar div {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

#navbar-big-avatar {
    margin-top: 4%;
    width: 50%;
    height: auto;
    cursor: default;
}

#navbar-big-avatar:hover {
    box-shadow: inset 0px 3px 6px #00000029;
}

#navbar-link {
    text-decoration: underline;
    cursor: pointer;
}

#navbar-link:hover {
    transition: color 0.3s ease;
    color: #ff3333;    
}