body {
    margin-top: 20px;
    background-color: lightgray;
  }
  
  .main {
    display: flex;
  }
  
  .sidebar-container {
    width: 25%;
    padding: 15px;
  }
  
  .sidebar {
    background-color: #333;
    color: white;
    height: 100%;
    border-radius: 10px;
    align-items: center;
  }
  
  .sidebar a {
    margin-left: 10px;
    display: block;
    color: white;
    padding-bottom: 30px;
    font-size: 16px;
    text-decoration: none;
  }
  
  .card {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .content-container {
    width: 75%;
    padding: 15px;
    display: flex;
    flex-direction: column;
  }

  .card-content{
    width: 75%;
    background-color: whitesmoke;
    margin-bottom: 5%;
    border-radius: 10px;
  }
  
  .content-box {
    margin-bottom: 20px;
    background-color: whitesmoke;
  }

  .profilePic{
    margin-top: 50px;
    height: 200px;
    width: 200px;
  }
  
  .genelBilgilerInfoBaslik{
    font-size: 40px;
    margin-left: 3%;
  }

  h3{
    font-size: 25px;
    color: white;
  }
  
  h5{
    text-align: left;
    font-weight: bold;
    font-size: 20px;
  }
  
  .genelBilgilerInfo{
    font-size: 20px;
    margin-left: 3%;
  }
  
  .container{
    background-color: #565656;
    margin-top: 60px;
  }
  
  .content {
    background-color: white; /* Set your desired gray background color */
    margin-bottom: 20px; /* Adjust the margin as needed */
    padding: 15px; /* Adjust the padding as needed */
    border-radius: 10px;
  }
  
  #guncelleButtonu{
    color: red;
  }

  /* Styles for the bubble appearance */
.MDBBtn {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px; /* Adjust the border-radius as needed */
  background-color: #ffffff; /* Background color of the bubble */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift */
  margin: 5px; /* Adjust margin as needed */
}

/* Additional styles for the buttons */
.MDBBtn.outline {
  border: 2px solid #343a40; /* Border color for outline buttons */
  background-color: transparent; /* Make background transparent for outline buttons */
}

.MDBBtn.color-dark {
  color: #343a40; /* Text color for dark-colored buttons */
}

.MDBBtn.rounded {
  border-radius: 20px; /* Border-radius for rounded buttons */
}

.MDBBtn.size-sm {
  font-size: 12px; /* Font size for small-sized buttons */
}

