.content-container {
  height: auto !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
}

h1 {
  text-align: left;
}

h3 {
  font-size: 25px;
  color: white;
}

h5 {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
}

.genelBilgilerInfo {
  font-size: 20px;
}

.upper {
  margin-left: 50px;
  margin-right: 50px;
  align-items: center;
  width: auto;
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000029;
  padding: 40px;
  z-index: 0 !important;
}

.bottom {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  align-items: center;
  width: auto;
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000029;
  padding: 40px;
  z-index: 0 !important;
}

.container {
  display: flex;
}

.left-panel {
  margin-left: 50px;
  margin-top: 100px;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  width: 440px;
  box-sizing: border-box;
}

.profile-component-profile-page-position{
  position: relative;
}


.right-panel {
  margin-top: 100px;
  flex: 1;
  box-sizing: border-box;
}